.PopupStyle1 {
  width: 560px;
  height: 353px;
  background-image: url("/images/popups/popup1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.PopupStyle2 {
  width: 384px;
  height: 251px;
  background-image: url("/images/popups/popup2.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.PopupStyle3 {
  width: 368px;
  height: 494px;
  background-image: url("/images/popups/popup3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.PopupStyle4 {
  width: 368px;
  height: 585px;
  background-image: url("/images/popups/popup4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.PopupStyle5 {
  width: 855px;
  height: 488px;
  background-image: url("/images/popups/popup5.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
