.PopupStyle1 {
  width: 500px;
  aspect-ratio: 1;
  background-image: url("/images/popups/popup1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.PopupStyle2 {
  width: 384px;
  height: 251px;
  background-image: url("/images/popups/popup2.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.PopupStyle3 {
  width: 500px;
  aspect-ratio: 1;
  background-image: url("/images/popups/popup1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.PopupStyle4 {
  width: 500px;
  aspect-ratio: 1;
  background-image: url("/images/popups/popup1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.PopupStyle5 {
  width: 500px;
  aspect-ratio: 1;
  background-image: url("/images/popups/popup1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
