.windowsXP {
  font-family: Tahoma, "Noto Sans", sans-serif;
  height: 100%;
  overflow: hidden;
  position: relative;
  background: url("/images/office/bg_windows.png") center center / cover
    no-repeat fixed;
}

.officeIcons {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 100vw;
  height: 100vh;
  padding-top: 15px;
  padding-left: 15px;
}

.app_icon {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  row-gap: 5px;

  &:hover {
    background-color: #ffffff5f;
    cursor: pointer;
  }

  .title {
    font-size: 0.7em;
    text-align: center;
    align-items: center;
  }
}
