.SystemPopUp {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  .modal {
    margin-top: 30vh;
    width: 300px;
    height: 190px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;

    header {
      height: 42px;
      display: flex;
      padding-left: 10px;
      align-items: center;
      background: rgb(9, 33, 120);

      span {
        font-size: 17px;
        font-family: "Noto Sans";
        color: rgb(255, 255, 255);
        flex: 1 1 0%;
      }

      img {
        width: auto;
        height: 30px;
        margin-right: 5px;
      }
    }

    .content {
      flex: 1 1 0%;
      background: linear-gradient(
        to right,
        rgb(51, 73, 224) 0%,
        rgb(97, 126, 230) 47%,
        rgb(97, 126, 230) 53%,
        rgb(51, 73, 224) 100%
      );
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 0px 30px;
      position: relative;
    }

    footer {
      height: 42px;
      background: rgb(9, 33, 120);
      display: flex;
      justify-content: flex-end;
      align-items: center;

      button {
        font-size: 11px;
        padding: 0px 8px;
        line-height: 10px;
        background: rgb(240, 240, 240);
        margin-right: 10px;
        height: 16px;
        border-radius: 1px;
        box-shadow:
          rgb(0, 5, 176) 2px 2px 4px 1px,
          white 2px 2px 2px 0px,
          skyblue 0px 0px 0px 1px inset,
          skyblue 2px -2px inset;
        border: none;
        outline: none;
      }
    }
  }
}
