.loginPageComponent {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  z-index: 1;
  font-family: Tahoma, "Noto Sans", sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: #00309c;
  color: white;

  .loginPageMain {
    display: flex;
    position: relative;
    background: #5a7edc
      radial-gradient(ellipse 25% 100% at top left, white, transparent);
    width: 100%;
    height: 70%;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      height: 4px;
      background: radial-gradient(
        ellipse 40% 100% at center,
        white,
        transparent
      );
      transform: translateY(-100%);
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 4px;
      background: radial-gradient(
        ellipse 60% 100% at center,
        #e18e39,
        transparent
      );
      transform: translateY(100%);
    }

    & > div {
      position: relative;
      display: flex;
      align-items: center;
      width: 50%;
      height: 100%;
    }

    & > div:nth-child(1) {
      flex-direction: column;
      align-items: end;
      justify-content: center;
      padding-right: 75px;

      img {
        width: 250px;
        transform: translate(47px, -30px);
      }

      span {
        font-size: 20px;
      }
    }

    & > div:nth-child(2) {
      padding-left: 45px;

      &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        height: 70%;
        width: 2px;
        background: radial-gradient(
          ellipse 100% 60% at center,
          white,
          transparent
        );
        transform: translateX(-50%);
      }
    }
  }

  .loginPageBottom {
    display: flex;
    height: 18%;
    padding: 0 40px;

    & > div:nth-child(1) {
      display: flex;
      align-items: center;
      width: 65%;
      height: 100%;
    }

    & > div:nth-child(2) {
      display: flex;
      width: 35%;
      height: 100%;
      justify-content: flex-end;
      align-items: center;

      .textPageBottom {
        height: fit-content;
      }
    }
  }
}

.ProfileLogin {
  position: relative;
  width: 356px;
  background:
    radial-gradient(
        circle at 100% 100%,
        rgba(12, 24, 97, 0) 0,
        rgba(12, 24, 97, 0) 3px,
        transparent 3px
      )
      0% 0%/8px 8px no-repeat,
    radial-gradient(
        circle at 0 100%,
        rgba(12, 24, 97, 0) 0,
        rgba(12, 24, 97, 0) 3px,
        transparent 3px
      )
      100% 0%/8px 8px no-repeat,
    radial-gradient(
        circle at 100% 0,
        rgba(12, 24, 97, 0) 0,
        rgba(12, 24, 97, 0) 3px,
        transparent 3px
      )
      0% 100%/8px 8px no-repeat,
    radial-gradient(
        circle at 0 0,
        rgba(12, 24, 97, 0) 0,
        rgba(12, 24, 97, 0) 3px,
        transparent 3px
      )
      100% 100%/8px 8px no-repeat,
    linear-gradient(rgba(12, 24, 97, 0), rgba(12, 24, 97, 0)) 50% 50% /
      calc(100% - 10px) calc(100% - 16px) no-repeat,
    linear-gradient(rgba(12, 24, 97, 0), rgba(12, 24, 97, 0)) 50% 50% /
      calc(100% - 16px) calc(100% - 10px) no-repeat,
    linear-gradient(270deg, transparent 0%, #ffffff 100%);
  border-radius: 2px;
  padding: 1px;
  box-sizing: border-box;
  box-sizing: border-box;

  .profileBG {
    display: flex;
    column-gap: 15px;
    padding: 9px;
    border-radius: 2px;
    background: linear-gradient(
      90deg,
      rgb(16, 74, 147) 0%,
      rgba(90, 126, 220, 1) 100%
    );
  }

  .profileIMG {
    border-radius: 5px;
    border: 2px solid #f6ca47;
    box-shadow: 0 0 8px 0 #00309c;
  }

  .profileInputs {
    display: flex;
    flex-direction: column;

    .profileLabelInputs {
      position: absolute;
      display: flex;
      flex-direction: column;
      row-gap: 5px;
      bottom: 0;
      transform: translateY(20%);
      label {
        font-size: 11px;
      }
      .inputContainer {
        display: flex;
        align-items: center;
        column-gap: 10px;
        input {
          height: 32px;
          border: none;
          border-radius: 2px;
        }

        img {
          border: 1px solid white;
          border-radius: 5px;

          &:hover {
            filter: brightness(1.1);
          }
        }
      }
    }
  }
}
