@import url("https://fonts.googleapis.com/css2?family=Red+Rose&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

::-webkit-scrollbar {
  width: 10px;
}

/* TRACK */
::-webkit-scrollbar-track {
  background: #e905d2;
  cursor: grab;
}

/* HANDLE */
::-webkit-scrollbar-thumb {
  background: #ed8fe4;
  height: 10%;
}

.blog {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(/images/blog/bg/blog_bgg.jpg);
  width: 90vw;
  height: 85vh;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  // font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-family: "Inter", sans-serif;

  ::selection {
    color: #ed8fe4;
    background-color: #e905d2;
  }

  .blog_left {
    width: 20%;
    padding: 10px;

    .logo {
      padding-top: 20px;
      width: 218px;
      height: auto;
    }

    .jewel01 {
      width: 75px;
      height: 72px;
      position: absolute;
      left: 1%;
      top: 12%;
      transform: translateY(-12%, 1%);
    }

    .britney {
      padding-top: 30px;
    }

    .jewel02 {
      width: 75px;
      height: 72px;
      position: absolute;
      left: 1%;
      top: 12%;
      transform: translateY(-12%, 1%);
    }

    .image02 {
      padding: 40px 0;
    }

    .jewel03 {
      width: 75px;
      height: 72px;
      position: absolute;
      left: 1%;
      top: 12%;
      transform: translateY(-12%, 1%);
    }

    .prefs {
      background: url(/images/blog/blog_left/image03.jpg);
      background-repeat: no-repeat;
      object-fit: cover;

      h3 {
        text-align: center;
        color: #ffffff;
        padding: 20px;
      }

      p {
        color: #ffffff;
        padding: 20px 10px;
        font-size: 0.9em;
      }

      span {
        color: #0000ff;
      }
    }

    .jewel04 {
      width: 75px;
      height: 72px;
      position: absolute;
      left: 1%;
      top: 12%;
      transform: translateY(-12%, 1%);
    }
  }

  .blog_center {
    width: 60%;
    height: auto;
    color: #ffffff;

    .title {
      color: #000000;
      font-size: 1.3em;
      text-align: center;
      padding: 20px;
      font-family: "Red Rose", serif;
    }

    .jewel01 {
      width: 47px;
      height: 48px;
      position: absolute;
      left: 63%;
      top: 4%;
      transform: translateY(-4%, 63%);
    }

    .jewel02 {
      width: 91px;
      height: 105px;
      position: absolute;
      left: 73%;
      top: 13%;
      transform: translateY(-13%, 73%);
    }

    .jewel03 {
      width: 90px;
      height: 91px;
      position: absolute;
      left: 18%;
      top: 142%;
      transform: translateY(-142%, 18%);
    }

    header {
      ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
      }

      li {
        border: 4px solid #e905d2;
        padding: 12px 14px;
        color: #0000ff;
        border-radius: 15px 15px 0 0;
        cursor: pointer;
      }

      li.active {
        color: #ffffff;
        background: url(/images/blog/blog_center/money.jpg);
      }
    }

    .darkpink_border {
      border: 8px solid #e905d2;
      width: 100%;
      height: auto;

      .lightpink_border {
        background-color: #ed8fe4;
        // border: 12px solid #ed8fe4;
        width: 100%;
        height: 100%;

        .first_comment {
          padding: 12px 12px;

          .comment_header {
            background-color: #ec70a0;
            margin: 0;
            padding: 12px;
            border-radius: 5px 5px 0 0;
          }

          &:nth-child(4) .comment_header {
            background-color: #d50237;
          }

          .comment_main {
            background-color: #8a92de;
            margin: 0;
            padding: 15px;
            border-radius: 0 0 5px 5px;
          }

          span {
            color: #0000ff;
          }

          .comment {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            padding-top: 20px;
            padding-right: 10px;

            img {
              width: 37px;
              height: 32px;
              margin-right: 6px;
            }

            .input_comment {
              width: 92%;
              border: solid 1px #000000;
              box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
              background-image: url("images/blog/blog_center/comment_play.png");
              background-repeat: no-repeat;
              background-position: calc(100% - 10px) center;
            }

            input:focus {
              outline: none;
            }

            input::placeholder {
              color: #000000;
            }
          }
        }
      }

      .gallery {
        display: flex;
        flex-wrap: wrap;
        background-color: #ed8fe4;

        .video {
          padding: 50px 50px 0 50px;
          transition: all 0.2s ease-in-out;
          cursor: pointer;

          p {
            text-align: center;
            color: #000000;
            font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
              "Lucida Sans", Arial, sans-serif;
          }
        }

        &:hover {
          transform: scale(1.5);
          cursor: pointer;
        }
      }
    }
  }

  .blog_right {
    width: 20%;

    .input_global {
      display: flex;
      background-color: #b49fdb;
      border: 2px solid #000000;
      // padding: 10px;
      box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    }
    input {
      color: #ffffff;
      padding: 10px;
      border: none;
      outline: 0;
      background-color: transparent;
    }
    input::placeholder {
      color: #ffffff;
    }
    .search {
      padding: 5px;
      background-color: #e905d2;
      align-items: center;
      width: 32px;
      height: auto;
    }
  }
}
